<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Steamgame
        //- link(rel="stylesheet", href="/dist/style.css")
        link(rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css')
    body
        header
            .columns.is-vcentered.m-0
                .column.has-text-centered
                    img(data-info="turn" src="https://cdn.discordapp.com/attachments/161411050300899328/525216236343394305/13.png" width="64px" height="64px")
                    img(src="https://cdn.discordapp.com/attachments/161411050300899328/525213688693522443/11.png" width="128px" height="128px")
                .column
                    p.control.has-icons-left
                        input.input.is-rounded(type="text", name="", placeholder="搜尋")
                        span.icon.is-small.is-left
                            i.fas.fa-search
                        span.test
                .column.has-text-centered
                    div
                        p.heading.is-size-4-desktop 全部遊戲
                        p#total__title.title 
                .column.has-text-centered
                    div
                        p.heading.is-size-4-desktop 更新時間
                        p#time__title.title
                //- .column.has-text-centered
                //-     div
                //-         p.heading.is-size-4-desktop 免費遊戲
                //-         p.title 3456
        .main.m-0
            #card__group.columns.flex-wrap.m-0
                //- .column.is-3 
                //-     .card
                //-         .card-image
                //-             figure.image.is-4by3
                //-                 img(src='https://bulma.io/images/placeholders/1280x960.png')
                //-         .card-content
                //-             .media
                //-                 .media-left
                //-                     figure.image.is-48x48
                //-                         img(src='https://bulma.io/images/placeholders/96x96.png')
                //-                 .media-content
                //-                     p.title.is-4 18X
                //-                     p.subtitle.is-6 @作者
                //-             .content 內文 
                //-             a(href='#') #冒險
                //-             a(href='#') #大型多人連線
                //-             br
                //-             time(datetime='') 11:09 PM - 1 Jan 2016
            #top.display-none

        
